<div class="bg-light py-5">
@if(currentStep == 1)
{
        <div class="w-75 mx-auto">
            <form [formGroup]="forgetPassword" (ngSubmit)="sendforgetPassword()">
                <h3 class="text-black fw-semibold">{{ 'forget_password.title' | translate }}</h3>
                <h5 class="py-2">{{ 'forget_password.email_label' | translate }}</h5>
                <input 
                    [ngClass]="getValidatorClassName('email')" 
                    formControlName="email" 
                    class="form-control p-3" 
                    [placeholder]="'forget_password.email_placeholder' | translate" 
                    type="email" 
                />
                <alert-error [formName]="forgetPassword" controlName="email"></alert-error>
                <div class="py-3">
                    <button class="btn btn-success text-white">
                        {{ 'forget_password.send_button' | translate }}
                    </button>
                </div>
            </form>
        </div>
}
@else if (currentStep == 2) {
        <div class="w-75 mx-auto">
            <form [formGroup]="verificationCode" (ngSubmit)="sendverifyCode()">
                <h3 class="text-black fw-semibold">{{ 'forget_password.title' | translate }}</h3>
                <h5 class="py-2">{{ 'forget_password.verify_code_label' | translate }}</h5>
                <input 
                    [ngClass]="getValidatorClassName('resetCode')" 
                    formControlName="resetCode" 
                    class="form-control p-3" 
                    [placeholder]="'forget_password.verify_code_placeholder' | translate" 
                    type="text" 
                />
                <alert-error [formName]="verificationCode" controlName="code"></alert-error>
                <div class="py-3">
                    <button class="btn btn-success text-white">
                        {{ 'forget_password.send_button' | translate }}
                    </button>
                </div>
            </form>
        </div>
}
@else if (currentStep == 3) {
        <div class="w-75 mx-auto">
            <form [formGroup]="resetPassword" (ngSubmit)="sendResetPassword()">
                <h3 class="text-black fw-semibold">{{ 'forget_password.title' | translate }}</h3>
                <input 
                    [ngClass]="getValidatorClassName('email')" 
                    formControlName="email" 
                    class="form-control p-3 d-none" 
                    [placeholder]="'forget_password.email_placeholder' | translate" 
                    type="email" 
                />
                <alert-error [formName]="resetPassword" controlName="email"></alert-error>
                <h5 class="py-2">{{ 'forget_password.new_password_label' | translate }}</h5>
                <input 
                    [ngClass]="getValidatorClassName('newPassword')" 
                    formControlName="newPassword" 
                    class="form-control p-3" 
                    [placeholder]="'forget_password.new_password_placeholder' | translate" 
                    type="password" 
                />
                <alert-error [formName]="resetPassword" controlName="password"></alert-error>
                <div class="py-3">
                    <button class="btn btn-success text-white">
                        {{ 'forget_password.send_button' | translate }}
                    </button>
                </div>
            </form>
        </div>
}