<div class="footer">
    <div class="container py-5">
    <h2 class="fw-bold">Get The FreshCart App</h2>
    <p class="text-muted">We will send you a link, Open it in your phone to download App</p>
    <div class="row my-4 gy-2">
      <div class="col-md-9">
        <input type="email" class="form-control p-2 rounded rounded-2" placeholder="Enter your Email" />
        </div>
        <div class="col-md-3">
        <button class="btn btn-success text-white w-100 p-2">Share App Link</button>
      </div>
    </div>
    <hr>
    <div class="d-flex justify-content-start gap-3 align-items-center">
    <p class="p-2 fw-bold">Payment Parteners</p>
    <img src="https://fresh-cart-one.vercel.app/static/media/americanexpress.23e3b98512ffad5d0ad1.png" class="payment-img">
    <img src="https://fresh-cart-one.vercel.app/static/media/mastercard.c1c3f1e9c8aad6e536df.png" class="payment-img">
    <img src="https://fresh-cart-one.vercel.app/static/media/paypal.e3abf7ded251409784b6.png" class="payment-img">
    
    </div>
    <p class="text-center p-3">Copy Right 2024 © By Abdelrhman Rafaat All Rights Reserved</p>
    </div>
    </div>