/* You can add global styles to this file, and also import other style files */

/* You can add global styles to this file, and also import other style files */
@use 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel' as owlCarousel;
@use 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default' as owlTheme;
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap');


:root
{
    --main-color:#0aad0a;
    --light-color:#f0f3f2;
    --shadow: rgba(145,158,171,.2) 0px 2px 4px -1px,rgba(145,158,171,.14) 0px 4px 5px 0px,rgba(145,158,171,.12) 0px 1px 10px 0px;
    --font-family:'Encode Sans Expanded', sans-serif;
    --rating-color:#ffc908;
}

body{
    font-family: var(--font-family) !important;
}
.rating-color
{
    color: var(--rating-color);
}
.cursor-pointer
{
    cursor: pointer;
}
a , a:hover{
    color: var(--rating-color);
    text-decoration: none;
}
.product:hover
{
    box-shadow: var(--shadow);
    border: solid 1px var(--main-color);
}
.vh-50 {
    height: 50vh;
 }
.nav-link::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    height: 2px;
    background-color: var(--main-color);
    transform: scale(0);
    transition: transform 350ms;
}

.nav-link:hover::before {
    transform: scale(1);
}
 .nav-link {
  position: relative;
  transition: color 1s;
}
 .nav-link:focus, .nav-link:hover {
  color: black;
  font-weight: bolder;
}
 .loader {
    width: 48px;
    height: 48px;
    border: 3px dotted #FFF;
    border-style: solid solid dotted dotted;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 2s linear infinite;
  }
  .loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px dotted #23c536;
    border-style: solid solid dotted;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    animation: rotationBack 1s linear infinite;
    transform-origin: center center;
  }
  
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes rotationBack {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
.font-sm
{
    font-size: 14px;
}
.text-main
{
    color: var(--main-color);
}

.navbar-active {
    color: var(--main-color) !important;
    font-weight: bolder;
}
.nav-link {
    padding: .25rem !important;
}
.fit-content {
    width: fit-content;
}
.bg-main
{
    background-color: var(--main-color) !important;
}
.bg-main-light 
{
    background-color: var(--light-color) !important;
}
html, body { height: 100%; }
body {  
  font-family: Roboto, "Helvetica Neue", sans-serif;
 }